<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Open World</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Open World</a>
        </div>
            <div>
                <div class="dropdown">
                    <button class="dropbtn">categories 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Hotels</a>
                        <a href="#">aaaaa</a>
                        <a href="#">Link 3</a>
                    </div>
                </div> 
            <a href="cart.html">feacures</a>
            <a href="cart.html">About us</a>
            <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <hi>Home Screen</hi>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>