 










 




.pp{
  margin-right: 327px;
}



.cc-form input {
  padding: 8px;

  font-size: 120%;
}

.input-addon {
  display: flex;
}



@media only screen and (min-device-width: 5000px) {
  .cc-form {
    background: rgba(221, 221, 221, 0.562);
    padding: 50px;
    max-width: 400px;
    min-width: 300px;
    min-height: 200px;
    margin: auto;

    display: grid;
    grid-template-rows: auto 40px auto;
    justify-items: center;
    align-items: center;

  
    
  }   
}

.error span {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.error.valid {
  color: #2ECC40;
}

.error.invalid {
  color: #FF4136;
}

.cc-logo {
  padding: 5px 10px;
  opacity: 0.35;
}

.cc-logo.active {
  opacity: 1;
}